<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Founder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="main-container">
            <div class="search-time" style="display: none"><span>Time Elapsed</span><span id="timer">00:00</span></div>
            <div class="search-container">
                <div class="search-form" method="post">
                    <label class="search-label" for="search">Enter Filename: </label>
                    <input class="search-box" type="text" name="search" id="search" placeholder="Something to search...">
                    <a class="search-btn">Search</a>
                </div>
            </div>
            <div class="result-container" style="display: none">
                <div class="result-box"></div>
            </div>
            <div class="search-loading" style="display: none">
                <div class="loader">Searching</div>
            </div>
        </div>
        <div class="error-modal" style="display: none">
            <div>You should wait until search done!</div>
            <button class="modal-close-btn"></button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>